<!--
index1: deleted boilerplate html and added copied card component (replaces thumbnail component) from bootstrap.

index2: added video game picture (halo 5) and added text (description, price).  Did styling by adding some classes (description, price)
  added pull-right class to button to pull right.  Added class clearfix to div containing prie and button to clear all other floats. (doesn't do anything)
  Added pull-left to price

index3: mulitplied index2 cards by 3 to make three cards, and then multiply those by 3 for 3 rows

index4: use seeded data by looping through array (which has data) provided in rendering function (in this case productss, see routes/index1)
(handlebars has for-each iterator, can't put here because it causes error). From documentation: You can iterate over a list using the built-in each helper. Inside the block, you can 
use this to reference the element being iterated over.)
-->

{{#each productss}}
    products!
{{/each}}

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top" src="https://i5.walmartimages.com/asr/3ad45896-4a67-4a78-9262-03fed10a8e33_1.eb5085c1c65e3280dc6eb90354810cb4.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, adipisci eaque numquam eos nisi consectetur quisquam asperiores illo possimus debitis unde sapiente quas deleniti amet beatae? Culpa, praesentium perspiciatis. Provident.</p>
            <div>
              <div class="price pull-left">$12</div>
              <a href="#" class="btn btn-success pull-right">Go somewhere</a>
            </div> 
        </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top" src="https://i5.walmartimages.com/asr/3ad45896-4a67-4a78-9262-03fed10a8e33_1.eb5085c1c65e3280dc6eb90354810cb4.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, adipisci eaque numquam eos nisi consectetur quisquam asperiores illo possimus debitis unde sapiente quas deleniti amet beatae? Culpa, praesentium perspiciatis. Provident.</p>
            <div>
              <div class="price pull-left">$12</div>
              <a href="#" class="btn btn-success pull-right">Go somewhere</a>
            </div> 
        </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top" src="https://i5.walmartimages.com/asr/3ad45896-4a67-4a78-9262-03fed10a8e33_1.eb5085c1c65e3280dc6eb90354810cb4.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, adipisci eaque numquam eos nisi consectetur quisquam asperiores illo possimus debitis unde sapiente quas deleniti amet beatae? Culpa, praesentium perspiciatis. Provident.</p>
            <div>
              <div class="price pull-left">$12</div>
              <a href="#" class="btn btn-success pull-right">Go somewhere</a>
            </div> 
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top" src="https://i5.walmartimages.com/asr/3ad45896-4a67-4a78-9262-03fed10a8e33_1.eb5085c1c65e3280dc6eb90354810cb4.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, adipisci eaque numquam eos nisi consectetur quisquam asperiores illo possimus debitis unde sapiente quas deleniti amet beatae? Culpa, praesentium perspiciatis. Provident.</p>
            <div>
              <div class="price pull-left">$12</div>
              <a href="#" class="btn btn-success pull-right">Go somewhere</a>
            </div> 
        </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top" src="https://i5.walmartimages.com/asr/3ad45896-4a67-4a78-9262-03fed10a8e33_1.eb5085c1c65e3280dc6eb90354810cb4.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, adipisci eaque numquam eos nisi consectetur quisquam asperiores illo possimus debitis unde sapiente quas deleniti amet beatae? Culpa, praesentium perspiciatis. Provident.</p>
            <div>
              <div class="price pull-left">$12</div>
              <a href="#" class="btn btn-success pull-right">Go somewhere</a>
            </div> 
        </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top" src="https://i5.walmartimages.com/asr/3ad45896-4a67-4a78-9262-03fed10a8e33_1.eb5085c1c65e3280dc6eb90354810cb4.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, adipisci eaque numquam eos nisi consectetur quisquam asperiores illo possimus debitis unde sapiente quas deleniti amet beatae? Culpa, praesentium perspiciatis. Provident.</p>
            <div>
              <div class="price pull-left">$12</div>
              <a href="#" class="btn btn-success pull-right">Go somewhere</a>
            </div> 
        </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top" src="https://i5.walmartimages.com/asr/3ad45896-4a67-4a78-9262-03fed10a8e33_1.eb5085c1c65e3280dc6eb90354810cb4.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, adipisci eaque numquam eos nisi consectetur quisquam asperiores illo possimus debitis unde sapiente quas deleniti amet beatae? Culpa, praesentium perspiciatis. Provident.</p>
            <div>
              <div class="price pull-left">$12</div>
              <a href="#" class="btn btn-success pull-right">Go somewhere</a>
            </div> 
        </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top" src="https://i5.walmartimages.com/asr/3ad45896-4a67-4a78-9262-03fed10a8e33_1.eb5085c1c65e3280dc6eb90354810cb4.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, adipisci eaque numquam eos nisi consectetur quisquam asperiores illo possimus debitis unde sapiente quas deleniti amet beatae? Culpa, praesentium perspiciatis. Provident.</p>
            <div>
              <div class="price pull-left">$12</div>
              <a href="#" class="btn btn-success pull-right">Go somewhere</a>
            </div> 
        </div>
    </div>
  </div>
    <div class="col-sm-6 col-md-4">
    <div class="card">
        <img class="card-img-top" src="https://i5.walmartimages.com/asr/3ad45896-4a67-4a78-9262-03fed10a8e33_1.eb5085c1c65e3280dc6eb90354810cb4.jpeg?odnHeight=450&odnWidth=450&odnBg=FFFFFF" alt="Card image cap">
        <div class="card-block">
            <h4 class="card-title">Card title</h4>
            <p class="card-text description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati, adipisci eaque numquam eos nisi consectetur quisquam asperiores illo possimus debitis unde sapiente quas deleniti amet beatae? Culpa, praesentium perspiciatis. Provident.</p>
            <div>
              <div class="price pull-left">$12</div>
              <a href="#" class="btn btn-success pull-right">Go somewhere</a>
            </div> 
        </div>
    </div>
  </div>
</div>
