<!--checkout: copied and pasted from the dude.

checkout1: added total variable that was passed from the get route in index file.  Also have the form action point
to /checkout, though its method is post (will be created later).  In order to reach this page, change 
shopping-cart file.

checkout2: add script tags for stripe payment as well as checkout.js in javascript folder in public folder.  Be sure to 
put the checkout.js file after the stripe import.  Checkout will require jquery so be sure to change order of jquery in
layout.hbs so that these files will render (before body)

checkout3: add error div for error handling.  We will place this after the total heading.  We will set the id to "payment-erros" based on the dcoumenton
of stripe and its error thingy.  Since we don't want this appearing if there is no error, we will also add a "hidden" class.

checkout4: change the error to if statement instead of just hidden (d-none) since we can send through the server.  Set the condition to check
noErrors (will be made) and have it display and errMsg variable. 
make sure that the name and address inputs have a name attribute so we can get their input.

checkout5: actual code from the github of that dude.
-->


<div class="row">
    <div class="col-sm-6 col-md-4 col-md-offset-4 col-sm-offset-3">
        <h1>Checkout</h1>
        <h4>Your Total: ${{total}}</h4>
        <div id="charge-error" class="alert alert-danger {{#if noError}}hidden{{/if}}">
            {{errMsg}}
        </div>
        <form action="/checkout" method="post" id="checkout-form">
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" id="name" class="form-control" required name="name">
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="address">Address</label>
                        <input type="text" id="address" class="form-control" required name="address">
                    </div>
                </div>
                <hr>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-name">Card Holder Name</label>
                        <input type="text" id="card-name" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-number">Credit Card Number</label>
                        <input type="text" id="card-number" class="form-control" required>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-month">Expiration Month</label>
                                <input type="text" id="card-expiry-month" class="form-control" required>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <label for="card-expiry-year">Expiration Year</label>
                                <input type="text" id="card-expiry-year" class="form-control" required>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="card-cvc">CVC</label>
                        <input type="text" id="card-cvc" class="form-control" required>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Buy now</button>
        </form>
    </div>
</div>

<script type="text/javascript" src="https://js.stripe.com/v2/"></script>
<script type="text/javascript" src="javascripts/realcheckout.js"></script>
