<!--shopping-cart: video 13: shopping cart view.  Create each items div, and then the total price div followed by the checkout div.
We will also create a "No items in Cart" title which we will wrap inside an if loop in case we don't have a cart.

-->


<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item">
                <span class="badge">2</span>
                <strong>Title</strong>
                <span class='label label-success'>12</span>
                <div class='btn-group'>
                    <button class="btn btn-primary btn-xs dropdown-toggle" type="button">Action <span class="care"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="">Reduce by 1</a></li>
                        <li><a href="">Reduce all</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <strong>Total: </strong>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <button type="button" class="btn btn-success">Checkout</button>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <strong>No Items In Cart</strong>
    </div>
</div>